<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280628716686-g27jm8o1uqa7d88frk9ghc3pp9iro1ru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280628716686-g27jm8o1uqa7d88frk9ghc3pp9iro1ru</string>
	<key>API_KEY</key>
	<string>AIzaSyANq38wbx6cJkmpJJFtb9IreI-9E1JGM-0</string>
	<key>GCM_SENDER_ID</key>
	<string>280628716686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTeste</string>
	<key>PROJECT_ID</key>
	<string>fir-teste-73925</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-teste-73925.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280628716686:ios:1b6b28159b557493b095df</string>
</dict>
</plist>